.l-layout {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  min-height: 100vh;
}

.l-heading-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  pointer-events: none;
}

.l-page-container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.l-heading {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.l-heading .l-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.l-main {
  flex: 1;
  margin-top: 20px;
  padding: 0 20px;
}

.l-footer {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(40, 44, 52, 0.1);
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  height: 80px;
}

.l-list-item {
  word-break: break-all;
}

code {
  color: #f06292;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  